:root {
    --foreground: #D2E3F7ff;
    --background: #8784F1ff;
    --highlight: #5930D1ff;
}

body {
    font-family: sans-serif;
    background: url("../images/station.gif") no-repeat fixed right;
    background-size: cover;
}

.mainstuff { border: var(--highlight) 6px groove;}

.mainstuff, a { color: var(--foreground); }

.mainstuff {
    background: var(--background);
    padding: 0;
    max-width: 600px;
    width: 100%;
    height: fit-content;

    @media (max-width: 768px) {
        width: auto;
    }
}

.radio {
    padding: 6px;
    background: var(--background);
    border: 2px solid var(--highlight);
    font-size: 12px;
}

.radio-title {
    background: var(--background);
    color: var(--foreground);
    padding: 2px 4px;
    font-weight: bold;
}

.radio-player {
    background: var(--background);
    padding: 8px;
    border: 2px solid var(--highlight);
}

.radio-button {
    display: inline-block;
    margin: 2px;
    padding: 2px 8px;
    border: 2px solid var(--foreground);
    border-right-color: var(--highlight);
    border-bottom-color: var(--highlight);
    background: var(--background);
    color: var(--foreground);
    font-family: inherit;
    font-size: 12px;
    cursor: default;
}

.radio-button:active {
    border: 2px solid var(--highlight);
    border-right-color: var(--foreground);
    border-bottom-color: var(--foreground);
}

.radio-progress {
    width: 100%;
    height: 16px;
    background: var(--foreground);
    border: 2px inset var(--highlight);
    margin: 6px 0;
    position: relative;
}

.progress-bar {
    height: 100%;
    background: var(--background);
    width: 0;
}

.radio-timer {
    font-size: 11px;
    text-align: right;
    margin-top: 2px;
}

.now-playing {
    font-weight: bold;
    margin-bottom: 6px;
    color: var(--foreground);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}