body {
    background: url("../images/gnutile.png") repeat;
    image-rendering: pixelated;
}

.navbar, .mainstuff, a { color: #cfc8b9; }

.navbar {
    background: #3d5d4c;

    li {
        background-color: #3d5d4c;
    }

    li:hover {
        background-color: #cfc8b9;
        a { color: #3d5d4c; }
    }
}

.mainstuff {
    background: rgba(61,93,76, 0.75);
}