body {
    font-family: sans-serif;
    background: url("/images/cog.gif") no-repeat fixed left bottom;
    background-size: cover;

    display: grid;
    grid-template-columns: 10% 90%;
    padding: 1rem;
    column-gap: 1em;
}

.navbar {
    display: flex;
    flex-direction: column;
    background: #2f4267;
    height: fit-content;
    width: fit-content;
    border: 6px groove darkslategray;

    ul {
        margin: 4px;
        padding: 0;
    }

    li {
        display: inline-block;
        min-width: 8rem;
        text-align: center;
        list-style: none;
        background-color: #2f4267;

        margin: 4px;

        a {
            font-size: large;
            text-decoration: none;
            color: #734c59;
        }
    }

    li:hover {
        background-color: #734c59;
        a { color: #2f4267; }
    }
}

main {
    padding: 1em;

}
