body {
    background: url("/images/cog.gif") no-repeat fixed left bottom;
    background-size: cover;
}

.navbar {
    background: #2f4267;

    li {
        background-color: #2f4267;
        a { color: #734c59; }
    }

    li:hover {
        background-color: #734c59;
        a { color: #2f4267; }
    }
}

.mainstuff {
    color: white;
    background: rgba(47,66,103, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}