body {
    font-family: sans-serif;
    background: url("/images/cog.gif") no-repeat fixed left bottom;
    background-size: cover;
}

main {
    padding: 1em;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        gap: 1em;
    }
}

.navbar {
    background: #2f4267;
    height: fit-content;
    border: 6px groove darkslategray;

    ul {
        margin: 4px;
        padding: 0;
    }

    li {
        padding: 6px 0;
        min-width: 8rem;
        text-align: center;
        list-style: none;
        background-color: #2f4267;

        a {
            font-size: large;
            text-decoration: none;
            color: #734c59;
        }
    }

    @media (max-width: 768px) {
        ul {
            display: flex;
            flex-wrap: nowrap;
            margin: 4px;
            padding: 0;
        }

        li {
            flex: 1 1 auto;
            list-style: none;
            min-width: 7rem;
            background-color: #2f4267;
            font-size: large;
            text-align: center;
            padding: 6px 0;
        }
    }

    li:hover {
        background-color: #734c59;
        a { color: #2f4267; }
    }
}

.reallycoolstuff {
    max-width: 800px;
    color: white;
    border: 6px groove darkslategray;

    background: rgba(47,66,103, 0.5);
    padding: 2rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

